Package: tooloop-image-slideshow
Version: 1.0.0
Maintainer: Tooloop Multimedia
Homepage: https://www.tooloop.de
Bugs: https://github.com/Tooloop/Tooloop-Packages
Section: tooloop/presentation
Architecture: all
Depends: chromium-browser
Name: Image slideshow
Description: A simple image slideshow
 A simple example app using the chromium browser and some javascript to display
 a fullscreen image slideshow.
Thumbnail: image-slideshow-thumbnail.jpg
