Package: tooloop-image-slideshow
Version: 1.0.0
Maintainer: Tooloop Multimedia <daniel.stock@tooloop.de>
Homepage: https://www.tooloop.de
Bugs: https://github.com/tooloop/Tooloop-Packages
Section: tooloop/presentation
Architecture: all
Depends: chromium-browser
Name: Image slideshow
Description: Image slideshow with smooth transitions
 A simple example app using the chromium browser and some javascript to display
 a fullscreen image slideshow.
Thumbnail: image-slideshow-thumbnail.jpg
