Package: tooloop-transparent-cursor
Version: 1.0.0
Maintainer: Tooloop Multimedia
Homepage: https://www.tooloop.de
Bugs: https://github.com/Tooloop/Tooloop-Packages
Section: tooloop/addon
Architecture: all
Name: Transparent mouse cursor
Description: For touch devices
 Install it if you want to hide the mouse cursor completely 
 e. g. on touch displays.
Thumbnail: transparent-cursor-thumbnail.png

