Package: tooloop-transparent-cursor
Version: 0.1.0
Maintainer: vollstock
Homepage: https://www.vollstock.de
Bugs: https://github.com/vollstock/xcursor-transparent-cursor
Section: tooloop/addon
Architecture: all
Name: Transparent mouse cursor
Description: For touch devices
 Install it if you want to hide the mouse cursor completely 
 e. g. on touch displays.
Thumbnail: transparent-cursor-thumbnail.png

