Package: tooloop-nginx
Version: 1.0.0
Maintainer: Tooloop Multimedia
Homepage: https://www.tooloop.de
Section: tooloop/addon
Architecture: amd64
Name: Dethleffs Touch-Kiosk
Depends: nginx, php-fpm, php-mbstring, php-curl, php-xml, php-gd
Recommends: tooloop-transparent-cursor
Description: Installs the nginx webserver for web-based presentations
 [nginx](https://nginx.org) is a fast and lightweight webserver.  
 The document root for your website is ```/assets/data```.
 Use this address in your kiosk application ```http://127.0.0.1:8080```.
Thumbnail: nginx-thumbnail.png
