Package: tooloop-kiosk-browser
Version: 0.9.0
Maintainer: vollstock
Homepage: https://www.vollstock.de
Bugs: https://github.com/vollstock/Tooloop-Examples.git
Section: tooloop/presentation
Architecture: amd64
Depends: chromium-browser
Recommends: tooloop-transparent-cursor
Description: Kiosk Browser
 A simple fullscreen kiosk browser based using chromium.
 You can define its’ homepage in the settings.
