Package: tooloop-kiosk-browser
Version: 1.0.0
Maintainer: Tooloop Multimedia
Homepage: https://www.tooloop.de
Bugs: https://github.com/Tooloop/Tooloop-Packages
Section: tooloop/presentation
Architecture: amd64
Depends: chromium-browser
Recommends: tooloop-transparent-cursor
Suggests: tooloop-nginx
Name: Kiosk Browser
Description: Full-screen browser for touch kiosks
 A simple full-screen kiosk browser based on chromium.
 You can define its’ homepage in the settings.
Thumbnail: kiosk-browser-thumbnail.jpg

