Package: tooloop-processing-example
Version: 0.1.0
Maintainer: vollstock <daniel@vollstock.de>
Homepage: https://www.vollstock.de
Architecture: all
Section: tooloop/presentation
Pre-Depends: tooloop-processing (= 3.4.0)
Name: Processing Example
Description: A simple example of how to bundle processing sketches
 This is a just a simple example of how to bundle processing sketches 
 in a .deb bundle that runs on Tooloop OS.
 **Flocking** by Daniel Shiffman. https://processing.org/examples/flocking.html
