Package: tooloop-video-player
Version: 0.1.0
Maintainer: vollstock
Homepage: https://www.vollstock.de
Bugs: https://github.com/vollstock/Tooloop-Examples
Section: tooloop/presentation
Architecture: all
Depends: mplayer
Name: Video Player
Description: A simple looping video player
 The tooloop video player is using mplayer to loop over all videos it find in `/assets/data`.
