Package: tooloop-image-slideshow
Version: 0.9.0
Maintainer: vollstock <daniel@vollstock.de>
Homepage: https://www.vollstock.de
Bugs: https://github.com/vollstock/Tooloop-Examples
Section: tooloop/presentation
Architecture: all
Depends: chromium-browser
Description: Image slideshow
 A simple example app using the chromium browser and some javascript to display
 a fullscreen image slideshow.
