Package: tooloop-gstreamer
Maintainer: vollstock <daniel@vollstock.de>
Homepage: https://www.vollstock.de
Architecture: all
Version: 1.8.3
Section: tooloop/addon
Depends: mpg123,
         libmpg123-dev,
         gstreamer1.0-doc,
         gstreamer1.0-tools,
         gstreamer1.0-alsa,
         gstreamer1.0-libav,
         gstreamer1.0-pulseaudio,
         gstreamer1.0-plugins-base,
         gstreamer1.0-plugins-base-doc,
         gstreamer1.0-plugins-base-dbg,
         gstreamer1.0-plugins-good,
         gstreamer1.0-plugins-good-doc,
         gstreamer1.0-plugins-good-dbg,
         gstreamer1.0-plugins-bad,
         gstreamer1.0-plugins-bad-doc,
         gstreamer1.0-plugins-bad-dbg,
         gstreamer1.0-plugins-ugly,
         gstreamer1.0-plugins-ugly-doc,
         gstreamer1.0-plugins-ugly-dbg,
         gstreamer1.0-vaapi,
         gstreamer1.0-vaapi-doc,
         gstreamer1.0-x,
         libgstreamer1.0-0,
         libgstreamer1.0-0-dbg,
         libgstreamer1.0-dev,
         va-driver-all,
         libva-glx2,
         libva-x11-2,
         vainfo,
         libvdpau-va-gl1,
         vdpau-driver-all,
         vdpauinfo,
         vdpau-va-driver
Name: Gstreamer
Description: Library for constructing graphs of media-handling components
 GStreamer is a library for constructing graphs of media-handling components.
 The applications it supports range from simple Ogg/Vorbis playback, audio/video
 streaming to complex audio (mixing) and video (non-linear editing) processing.
Thumbnail: gstreamer-thumbnail.png

